$primary-color: #ee603a;
$warning-color: #e6a23c;
$error-color: #ff0000;
$default-color: #dcdfe6;

$primary-back-color: rgba(238, 112, 72, 0.2);
$warning-back-color: rgba(230, 162, 60, 0.3);
$error-back-color: rgba(255, 0, 0, 0.2);
$default-back-color: rgba(220, 223, 230, 0.2);



$low-color: #7cd0ee;
$high-color: #ee524d;

@mixin normal-space{
  padding: 0.5rem 1.1rem;
}
